.info {
  text-align: center;
}

.info-text {
  margin: 0;
  padding-block: 12px;
  font-size: clamp(2rem, 4vw, 3rem);
  font-family: var(--cartoon);
  font-weight: 400;
  color: #473737;
}

.info-age {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 700;
  color: #ff6b6b;
}
